:root {
  --Almost-white: hsl(0, 0%, 98%);
  --Medium-gray: hsl(0, 0%, 41%);
  --Medium-gray-overlay: rgba(105, 105, 105, 0.8);
  --Almost-black: hsl(0, 0%, 8%);
}

@media(max-width: 1080px){
  /* em telas grandes a fonte terá um tamanho de 15px e fara com que as meididas rem diminuam em relação a telas extragrandes */
  html{
    font-size: 93.75%;
  }
}

@media(max-width: 720px){
  /* em telas menores que tabletes a fonte terá um tamanho de 14px e fara com que as meididas rem diminuam em relação a telas grandes */
  html{
    font-size: 87.5%;
  }
}

body{
  font-family: 'Epilogue', sans-serif;
  width: 100%;
}

/* =========  RESET ========= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul{
  list-style: none;
}

/* ========= NAVIGATION ========= */

header div .icon-menu.show{
  display: none;
}
header div .icon-close.show{
  display: none;
}


#header {
  display: flex;
  justify-content: space-between;
  margin: 1rem 2rem 1rem 0.5rem;
}
nav{
  position: absolute;
}

nav ul li a {
  color: var(--Medium-gray);
  position: relative;
}

nav .menu {
  transition: background-color 0.2s;
  visibility: hidden;
  top: -20rem;
  width: 100%;
}

nav .menu ul {
  display: none;
}

/* ========= MOSTRAR MENU ========= */

nav.show{
  transition: background-color 0.2s;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background:var(--Medium-gray-overlay);
}

nav.show .menu ul {
  display: grid;
}

nav.show div#menu {
  visibility: visible;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--Almost-white);
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem; 
}

nav.show ul.grid {
  gap: 1rem;
  margin: 5rem 1rem 3rem 1rem;
  object-fit: contain;
}

div.drop-card ul.drop-list{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: unset;
  gap: 0.5rem;
}

li, span, a.more {
  cursor: pointer;
}

/* ========= TOGGLE MENU ========= */

div.mobile-toggle{
  z-index: 2;
  position: relative;
  right: -1rem;
}


.toggle {
  visibility: inherit;
  color: var(--Medium-gray);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem;
  right: 1.5rem;
}

nav.show div.icon-close {
  position: absolute;
  visibility: visible;
  opacity: 1;

  top: 1.5rem;
  right: 2rem;
}

nav div.toggle.icon-menu {
  position: absolute;
  visibility: visible;
  opacity: 1;

  top: 1.5rem;
  right: 2rem;
}

div.drop-card {
  font-size: 90%;
  color: var(--Medium-gray);
}

.arrow-company {
  transform: rotate(180deg);
}

.arrow-features {
  transform: rotate(180deg);
}

#arrowCompany {
  transition: 0.2s;
}

#arrowFeatures {
  transition: 0.2s;
}

div.drop-card {
  display: none;
}

div.drop-card.active-features {
  display: block; 
}

div.drop-card.active-company {
  display: flex;
}

/* ========= BUTTONS ========= */

div#login {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

#buttonLogin {
  background: transparent;
  border: none;
  color: var(--Medium-gray);
}

#buttonLogin:hover {
  color: var(--Almost-black);
  cursor: pointer;
}

#buttonRegister {
  background: none;
  color: var(--Medium-gray);
  border: 1px solid var(--Medium-gray);
  border-radius: 0.6rem ;
  padding: .5rem;
  width: 80%;
}

#buttonRegister:hover {
  cursor: pointer;
  color: var(--Almost-black);
  border-color: var(--Almost-black);
}

/*========= MAIN =========*/
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
  margin: 2rem 0 2rem 0;
}

p {
  font-size: 1.125rem;
  font-weight: 400;
  color: var(--Medium-gray);
  width: 80%;
  text-align: center;
}

aside {
  width: 100%;
}

aside img { 
  width: 100%;
  object-fit: contain;
}

div.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a.more {
  text-align: center;
  max-width: 130px;
  background: var(--Almost-black);
  color: white;
  padding: 1rem;
  border: 1px solid var(--Almost-black);
  border-radius: 0.9rem;
}

a.more:hover {
  background: white;
  color: var(--Almost-black);
}
 
/* ========= BRAND ICONS  ========= */

div.brandIcons {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

div.brandIcons img {
  width: 4rem;
}

/* ========= ESTILO PARA TELAS MAIORES (DESKTOP) =========*/

@media (min-width: 769px) {

  body {
    width: 100%;
    overflow-x: hidden;
    position: initial;
  }

  /* ========= NAVIGATION ========= */

  #header {
    display: block;
    width: 100%;
  }

  nav#mobileMenu {
    position: static;
    width: auto;
  }

  a.logo-image {
    position: absolute;
    margin: 1rem 2rem 1rem 2rem;
  }
  div.toggle.icon-menu {
    display: none;
  }

  header div .icon-menu.show, header div .icon-close {
    display: none;
  }

  header div .icon-close.show, header div .icon-close {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 2rem 1rem 10rem;
  }


  div.drop-card ul.drop-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;

    margin: 5px 5px 5px 10px;
    padding: 1rem;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 20%);
    border-radius: 5px;
  }

  div.drop-card ul.drop-list li {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }

  ul.drop-features {
    left: 6.5rem;
  }

  ul.drop-company {
    left: 17.5rem;
  }

  div.drop-card ul.drop-list li img {
    width: 1rem;
  }

  /* ========= CONTAINER ========= */

  div.container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin: auto;
  }

  /* ========= MAIN ========= */

  main {
    width: 100%;
    align-items: initial;
    gap: 2rem;
    flex: 1;
  }

  h1 {
    margin: 0 3rem 0 0;
    font-size: 4rem;
    font-weight: 700;
  }

  p {
    width: 60%;
    text-align: justify;
  }

  main h1 span {
    display: block;
  }

  /* ========= ASIDE ========= */

  aside {
    flex: 1;    
    position: relative;
    top: -2rem;
  }

  aside img {
    position: relative;
    max-width: 100%;
    max-height: 480px;
    min-height: 200px;  
  }

  div.container {
    margin: 5rem 0 0 8rem;
  }

  /* ========= DESKTOP NAVIGATION   ========= */

  nav {
    padding: 1rem;
  }

  nav.container {
    display: flow-root;
  }

  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav ul li {
    text-align: center;
  }

  nav .menu ul li a.title {
    font-size: 0.9rem;
    color: var(--Medium-gray) ;
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    color: var(--Almost-black);
  }

  nav ul li a.title:hover, #arrowCompany, #arrowFeatures {
    color: var(--Almost-black);
  }

  nav .mobile-toggle {
    display: none;
  }

  /* ========= BUTTONS ========= */

  div#login {
    display: flex;
    flex-direction: row;
    align-items: initial;
    gap: 1rem;
    width: initial;
  }

  #buttonRegister {
    width: initial;
  }

  div.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -5px
  }

  /* ========= BRAND ICONS FOR DESKTOP ========= */

  div.brandIcons {
    justify-content: initial;
    gap: 1.5rem;
  }

  div.brandIcons img {
    width: auto;
  }

}


